.options { 
    display: flex;
    flex-direction: row;
    align-items: center;

    & button {
        width: 30px;
    }
}

.selector-seconds {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.show-false {
    display: none;
}

.show-true {
    display: flex;
}