* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --background-primary-color: #462EA7;
  --primary-highlight-color-word: #F5B612;
  --primary-color-word: #FFFFFF;
  --primary-color-word-ok: #A79463;
  --primary-color-word-wrong: #A53D3D;
}